# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
myenv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/
env/
venv.bak/
env.bak/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# dotenv
.env
.env.*

# Environments
.env
.env.*

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# PyCharm
.idea/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# testing
.pytest_cache/
test-results/

# vscode
.vscode/
